@tailwind base;
@tailwind components;
@tailwind utilities;

.menuItem {
  padding: 0.5rem 1rem;
  border-radius: 0.1rem;
  cursor: pointer;
  font-size: 1.2rem;
  text-decoration: none;
  font-family: 'Oswald';
}

.menuItem:hover {
  background: linear-gradient(to right, #8B4513, #FFD700);
  color: #ffffff;
}

.title-style {
  font-size: 1.5rem;
  color: #8B4520;
  text-align: center;
  font-family: 'Oswald';
  font-weight: 600;
}

.h1-heading {
  font-size: 1.875rem;        /* text-3xl */
  text-align: center;         /* text-center */
  color: #b45450;             /* text-amber-700 */
  margin-top: 1.5rem;           /* mt-4 */
  position: relative;
  font-family: 'Oswald';
  font-weight: 600;
}

.h1-heading::after {
  content: "- - -";
  display: block;
  font-weight: bold;
  color: #b45450;             /* bg-amber-700 for text hyphens */
  text-align: center;
}

.footer-heading {
  font-size: 1.5rem;        /* text-3xl */
  color: white;
  margin-bottom: 1.5rem;
  font-family: 'Oswald';
  font-weight: 600;
}


.card {
  gap: 1rem;
  display: flex;
  flex-direction: column;
  background: #f3f4f6;
  border-radius: 0.5rem;
  padding: 2rem;
}

.card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.btnRight {
  border: 1.5px solid #b45309;       /* Amber-like border */
  border-radius: 6px;
  background-color: white;
  color: #b45309;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s ease, color 0.3s ease;
}

.btnRight:hover {
  background: linear-gradient(to right, #8B4513, #FFD700); /* Brown to Yellow */
  color: white;
}

body {
  background: white;
  font-family: Arial, Helvetica, sans-serif;
}
